<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.FeedLikeMapper">
    <select id="checkByIdAndNo" parameterType="hashMap" resultMap="fdl">
        select * from feed_like where feed_no=#{no} and user_id=#{id};
    </select>

    <insert id="checkLike" parameterType="feedLikeDto">
        INSERT INTO feed_like(user_id, feed_no) VALUES (#{user_id},#{feed_no});
    </insert>

    <delete id="cancelLike" parameterType="feedLikeDto">
        DELETE FROM feed_like WHERE user_id = #{user_id} AND feed_no = #{feed_no};
    </delete>

    <resultMap type="dto.FeedLikeDto" id="fdl">
        <id column="no" property="no"/>
        <result column="user_id" property="user_id"/>
        <result column="feed_no" property="feed_no"/>
        <result column="created_at" property="createdAt"/>
        <result column="modified_at" property="modifiedAt"/>
    </resultMap>
</mapper>